# Harvester Configuration Template
# This template generates the Harvester configuration file for each node.
# It uses variables defined in group_vars/all.yml and host-specific variables.

scheme_version: 1
server_url: {{ hostvars[groups['idrac_hosts'][0]]['ansible_host'] }}
token: {{ cluster_token }}
os:
  hostname: harvester-{{ inventory_hostname | regex_replace('\\.', '-') }}
  ssh_authorized_keys:
    - {{ ssh_public_key }}
  password: "{{ harvester_password }}"
  ntp_servers:
{% for server in ntp_servers.split(',') %}
    - {{ server }}
{% endfor %}
network:
  interfaces:
    - name: {{ harvester_network_interface | default('ens192') }}
      ip: {{ inventory_hostname }}/{{ netmask }}
      gateway: {{ gateway }}
  dns_nameservers:
{% for server in dns_servers.split(',') %}
    - {{ server }}
{% endfor %}
cluster:
  token: "{{ cluster_token }}"
  server_url: {{ cluster_vip }}
  mode: {{ 'create' if inventory_hostname == groups['idrac_hosts'][0] else 'join' }}
storage:
  os_disk: {{ pxe_harvester_osdisk | default('/dev/sda') }}
  data_disk: {{ pxe_harvester_datadisk | default('/dev/sdb') }}